.about-heading{
    text-align: center;
    padding: 20px;
}
.about-members{
    display: flex;
    margin: 0px 5%;
    gap: 20px;
}
.about-member{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    flex: 1;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}
.about-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
.about-icon {
    color: var(--accent-color);
}
.team-member-img{
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.about-member-role{
    color: var(--primary-color);
    font-weight: 600;   
}
.about-member-name{
    font-weight: 600;
}
@media screen and (max-width: 768px){
    .about-members{
        flex-direction: column;
    }
}