.Edit_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.Edit_container h3{
    font-weight: 600;
}
.Edit_form {
    background-color:#ffcd29;
}
  
.editform {
    width: 350px; 
    padding: 20px; 
    border: 1px solid black; 
    border-radius: 5px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.editform label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
  
.editform input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
}
.gender-option {
    display: flex;
    align-items: center;
  }
  #submitBtn{
    background-color:black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: 600;
    transition: all 250ms ease;
    color: white;
  }
  #submitBtn:hover{
        letter-spacing: 7px;
        transform: scale(1.05);
        background-color:rgb(6, 244, 6);
        color: black;
  }

