.container-footer {
  background-color: white;
  color: black;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 3rem;
  gap: 20px 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.thanks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* transform: translate(100px); */
  margin: 0 auto;
}
.thanksIcon {
  width: 200px;
  scale: 2.2;
}

@media screen and (max-width: 425px) {
  .container-footer {
    background-color: white;
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 3rem;
    gap: 50px;
  }
  .contact {
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: row;
    gap: 20px;
  }
  .thanksIcon {
    width: 130px;
    scale: 2.2;
  }
}
@media screen and (max-width: 560px) {
  .container-footer {
    background-color: white;
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
    margin-top: 3rem;
    gap: 50px;
  }
  .contact {
    display: flex;
    /* background-color: aquamarine; */
    align-self: center;
    flex-direction: row;
    gap: 20px;
  }
}
