.container-footer {
  color: black;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  border: 2px solid black;
}
.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.thanks {
  display: block;
}
.sm {
  position: relative;
  bottom: 100px;
}
.sm ul {
  position: absolute;
  left: 50%;
  margin-top: 110px;
  transform: translate(-50%, -50%);
  display: flex;
}

.sm ul li {
  list-style: none;
  margin: 0 15px;
}

.sm ul li:not(:first-child) a img {
  width: 50px;
  position: relative;
  left: 5px;
  top: 5px;
  transition: 0.6s;
}
.sm ul li:is(:first-child) a img {
  width: 45px;
  position: relative;
  left: 5px;
  top: 5px;
  transition: 0.6s;
}

.sm ul li:is(:first-child) a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  padding: 2px;
}

.sm ul li:not(:first-child) a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.sm ul li a:hover {
  transform: translate(0, -10px);
}
.thanks h2 {
  text-align: center;
  margin-top: 70px;
}
.thanksIcon {
  max-width: 100%;
  height: auto;
}
.newsLetter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.newsLetter h5 {
  border: solid 5px #ffcd29;
  padding: 5px;
  width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.newsLetter input {
  border: solid 5px #ffcd29;
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
#footer_submit {
  background-color: #ffcd29;
  width: 50%;
  height: 50px;
  border-radius: 15px;
  font-size: 1em;
  font-weight: 900;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  text-transform: uppercase;
}
#footer_submit:hover{
  font-size: 1.2em;
}
.icc{
  font-size: 25px;
  
}
@media screen and (max-width: 850px){
  .contact{
    font-size: 0.9em;
  }
  .icc{
    font-size: 20px;
    padding-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .contact a {
    font-size: 0.9em;
  }
  .container-footer {
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 3rem;
    gap: 50px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .thanksIcon {
    width: 250px;
  }
  .newsLetter {
    width: 50%;
    /* background-color: red; */
  }
  .newsLetter h5 {
    margin: 10px;
    height: 70px;
  }
  #footer_submit {
    margin-bottom: 20px;
  }

  .sm ul li:not(:first-child) a img {
    width: 40px;
    position: relative;
    left: 5px;
    top: 5px;
    transition: 0.6s;
  }
  .sm ul li:is(:first-child) a img {
    width: 35px;
    position: relative;
    left: 5px;
    top: 5px;
    transition: 0.6s;
  }

  .sm ul li:is(:first-child) a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    padding: 2px;
  }

  .sm ul li:not(:first-child) a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }
  .newsLetter h5 {
    font-size: 1em;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1200px) {
  .container-footer {
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 3rem;
    gap: 50px;
  }
  .contact {
    display: flex;
    /* background-color: aquamarine; */
    align-self: center;
    flex-direction: row;
    gap: 30px;
  }
  .newsLetter {
    width: 50%;
  }
}
@media screen and (max-width: 765px) {
  .newsLetter {
    width: 100%;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 460px) {
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
}