.center {
  width: 80vw;
  height: 70vh;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid #ffcd29;
  border-radius: 10px;
  padding: 5px;
}
.left,
.right {
  padding: 0px 20px;
  text-align: center;
  flex: 2;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 2s;
}
.middle {
  flex: 1;
}
.right {
  flex: 3;
}
.email > input,
.password > input {
  font-size: 1rem;
  padding: 20px;
  margin: 10px 0px;
  width: 70%;
  border: 0px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.form-container {
  width: 100%;
  padding-right: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr;
}
.form-close{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
label {
  grid-column: 1;
  text-align: right;
}
.form-gender{
  display: flex;
  justify-content: space-around;
}
.gender-option > input{
  margin-right: 8px;
  transform: scale(1.5); /* Adjust the scale factor as needed */
}
.reg-form > input {
  grid-column: 2;
  width: 100%;
  padding: 5px 10px;
  margin: 3px 0px;
  font-size: 1rem;
  border: 0px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.submit {
  margin: 5px;
  font-size: 1rem;
  padding: 8px 16px;
  grid-column: 1 / span 2; /* Spanning both columns */
  justify-self: center; /* Centering horizontally */
  background-color: #ffcd29;
  border: solid brown 3px;
  color: brown;
  font-weight: 600;
  border-radius: 20px;
}
/* Existing styles */
/* ... */
.form-heading{
  font-size: 2em;
  margin-bottom: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
  background-color: #ffcd29;
  z-index: 1000;
  transition: width 3s ease;
  transition: left 2s ease;
}

.overlay.slide-left {
  width: 50%;
  left: 0;
}
/* .err_m{
  text-align: center;
  color: red;
  grid-column:2;
  background-color:gainsboro;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
} */
.err_m{
  position: relative;
  display: inline-block;
  padding: 5px;
  grid-column:2;
}
.err_m .tooltiptext{
  background-color:rgb(223, 8, 8);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
}
.err_m .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent red transparent;
}
@media screen and (max-width: 3200px) {
  .center {
    width: 90vw;
    height: 90vh;
    background-color: var(--white);
  }
  .signindiv {
    padding: 2px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .center {
    min-width: max-content;
    min-height: max-content;
  }
  .overlay {
    display: none;
  }
  .left,
  .right {
    padding: 10px;
  }
  .right,
  .middle {
    display: none;
  }
  .email > input,
  .password > input {
    padding: 10px 20px;
  }
  .overlay.slide-left ~ .right {
    display: block;
  }
  .overlay.slide-left ~ .left {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .reg-form > input{
    font-size: 0.8rem;
  }
  .middle{
    flex: 1;
  }
  .right{
    flex: 2;
  }
}
@media screen and (max-width: 1024px) {
  .middle{
    flex: 0;
  }
}
