.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li > a {
  text-decoration: none;
  color: black;
}
.navbar > ul {
  text-decoration: none;
  list-style: none;
}
.ul_items {
  /* width: 100%; */
  width: auto;
  display: flex;
  justify-content: space-evenly;
}
.ul_items > li {
  margin: 10px;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}
.ul_items > .home {
  background-color: yellow;
}
.ul_items > li:hover {
  background-color: aqua;
  transition: 1s ease-in;
}
/* if clicked hamber ul shows up  */
.hamburger-ul {
  display: block;
  position: absolute;
  margin-top: 300px;
  /* display: none; */
}
.hamburger-ul > li {
  padding: 20px 0px;
}
@media screen and (max-width: 500px) {
  .ul_items > li {
    display: none;
  }
  /* hamburger created  */
  .hamburger {
    width: auto;
    /* background-color: aqua; */
    position: absolute;
    right: 20px;
  }
  .hamburger > li {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
}
@media screen and (min-width: 501px) {
  .hamburger-ul {
    display: none;
  }
}
