
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  top: 0;
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0px 60px;
}
.navbar ul {
  float: right;
}
.navbar ul li {
  padding: 0 10px;
  margin: 0 5px;
  display: inline-block;
}
.navbar ul li{
  color: black;
  font-size: var(--font-size-md);
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
}
.navbar .logo {
  cursor: pointer;
}
.nav-links{
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logoo {
  width: 55px;
  margin-right: 10px;
}
.logo-text {
  color: black;
  font-weight: bold;
  font-size: var(--font-size-lg);
}
.icon {
  font-size: 30px;
  color: black;
  float: right;
  cursor: pointer;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
.icon:hover {
  color: lightblue;
}
#menuBt {
  display: none;
}
.currentUserDetail {
  display: none;
  position: absolute;
  right: -40px;
}
#userImage{
  text-transform: none;
}
#userImage:hover > .currentUserDetail {
  display: block;
  height: auto;
}
.userDetailConatainer { 
  margin-top: 10px;
  width: max-content;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout{
  display: block;
  color: white;
  background-color: #ffcd29;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px 1px #ad8a19;
  margin-top: 10px;
}
.userDetailTexts{
  font-weight: 600;
  margin-bottom: 5px;
  font-size: var(--font-size-sm);
}
#user-dp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 0px;
}
@media (max-width: 992px) {
  .logo {
    font-size: 20px;
  }
  .navbar ul li a {
    font-size: 20px;
  }
}
@media (max-width: 760px) {
  .icon {
    display: block;
    position: relative;
    bottom: 10px;
  }
  #menuBt {
    display: none;
  }
  .navbar {
    top: 0;
    position: relative;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    height: 60px;

  }
  .navbar .logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: relative;
    margin-top: 0;
    bottom: 10px;
    left: 70px;
    cursor: pointer;
  }
  .navbar ul {
    position: fixed;
    top: 60px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .navbar ul li {
    margin: 10px 0;
  }
  .navbar ul li a {
    display: block;
    font-size: 25px;
    padding: 15px 25px;
  }
  #menuBt:checked ~ ul {
    left: 0;
    transform: translateX(0);
  }
}
