* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .input-icon {
  position: absolute;
  width: 250px;
} */

.tags-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 10%;
  justify-content: center;
}
.tags{
  height: min-content;
  border: 2px white  solid;
  font-weight: 800;
  background-color: #ffcd29;
  transition: 400ms;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.tags:hover{
  transform: translateY(-5px);
}
.tags:active{
  transform: translateY(0px);
}
.tags.selected{
  background-color: green;
}
.searchIcon {
  width: auto;
  height: 35%;
  position: absolute;
  object-fit: contain;
  top: 70%;
  left: 50px;
  transform: translate(-50%, -50%);
  scale: 2;
}
.searchInput {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.selectCategories {
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 16px;
}
@media screen and (max-width: 475px) {
  .searchIcon {
    width: auto;
    height: 35%;
    position: absolute;
    object-fit: contain;
    top: 67%;
    left: 31px;
    transform: translate(-50%, -50%);
    scale: 1.8;
  }
  .searchInput {
    width: 100%;
    text-align: center;
    border-radius: 25px;
  }
  .selectCategories {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 16px;
    width: 22%;
  }
}