.bodyy {
  background-color: #ffcd29;
  padding: 20px 0;
}
.Top_Con {
  display: flex;
  height: 10%;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 15px;
}
.Top_Con h1 {
  margin-right: 10px;
}
.crw {
  width: 60px;
  height: 50px;
}
.mainC {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}
.MainBox {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin: 30px;
  width: 400px;
  height: 600px;
  border: 4px solid white;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}
.uDetail {
  font-size: var(--font-size-sm);
  text-align: center;
}
.Pp {
  width: 300px;
  height: 300px;
  background-color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Fw {
  background-color: #0d6efd;
  border-radius: 20px;
  font-size: var(--font-size-md);
  width: 200px;
  height: 60px;
  color: white;
  transition: all 200ms ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Fw:hover {
  letter-spacing: 1px;
  box-shadow: 0 8px 16px 0 rgba(54, 50, 50, 0.2),
    0 6px 20px 0 rgba(9, 8, 8, 0.19);
}
.right_Box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.startnow {
  padding: 20px;
  top: 20px;
  display: flex;
}
.H {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.NoN {
  font-weight: 600;
  color: grey;
  text-transform: uppercase;
}
.Para {
  font-size: var(--font-size-sm);
  max-width: 500px;
}
#strokes {
  position: relative;
  max-width: 300px;
  height: 200px;
  margin: 10px;
  top: 0;
}
.btm_box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 30px;
  padding: 10px;
}
#doodle {
  width: 200px;
  position: relative;
  margin-left: 30px;
  padding: 5px;
}
#contri_btn {
  width: 300px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: absolute;
  border: white solid 4px;
  bottom: 0;
  font-size: 1.3em;
  font-weight: 600;
  transition: all 200ms ease;
  margin-right: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#contri_btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 20px;
  font-size: var(--font-size-md);
}

@media screen and (min-width: 1024px) and (max-width: 1290px) {
  .MainBox {
    padding: 20px;
    margin: 10px;
    width: 350px;
    height: 600px;
  }
  .Pp {
    width: 250px;
    height: 250px;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .H {
    font-weight: 700;
    letter-spacing: 4px;
  }
  .NoN {
    font-weight: 600;
  }
  .Para {
    max-width: 450px;
  }
  #strokes {
    position: relative;
    max-width: 250px;
    height: 150px;
    margin: 0;
    top: 0;
  }
  .btm_box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 90px;
    padding: 5px;
    height: 150px;
  }
  #doodle {
    width: 150px;
    position: relative;
    margin-left: 50px;
    padding: 5px;
  }
  #contri_btn {
    width: 250px;
    height: 50px;
    position: absolute;
    font-weight: 400;
  }
  #contri_btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainC {
    padding: 0;
  }
  .right_Box {
    right: 0;
    padding: 0px;
  }
  .startnow {
    padding: 0px;
    top: 70px;
    display: flex;
    position: relative;
    right: 0;
  }
  .MainBox {
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 600px;
  }
  .Pp {
    font-size: 8px;
    width: 200px;
    height: 200px;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .H {
    font-weight: 600;
    letter-spacing: 3px;
  }
  .NoN {
    font-weight: 600;
  }
  #strokes {
    max-width: 150px;
    height: 100px;
  }
  .btm_box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 90px;
    padding: 5px;
    height: 150px;
    width: 450px;
  }
  #doodle {
    width: 150px;
    position: relative;
    margin-left: 60px;
    padding: 5px;
  }
  #contri_btn {
    width: 250px;
    height: 50px;
    position: absolute;
    font-weight: 400;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .mainC {
    margin: 5px;
    flex-direction: column;
  }
  .left_box {
    position: relative;
    left: 0;
  }
  .MainBox {
    padding: 20px;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 500px;
  }
  .uDetail {
    text-align: center;
    padding: 2px;
  }
  /* .mainC {
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
  }
  .MainBox {
    width:100%;
    padding: 10px;
    margin: 5px;
    height: 250px;
    flex-direction: row;
  }
  .uDetail {
    text-align: center;
  } */
  .Fw {
    height: 40px;
  }
  .Pp {
    background-color: rgb(212, 212, 212);
  }
  .H {
    font-weight: 600;
    letter-spacing: 3px;
  }
  .NoN {
    font-weight: 600;
  }
  #strokes {
    display: none;
  }
  .right_Box {
    right: 0;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
  }
  .startnow {
    padding: 20px;
    top: 15px;
    display: flex;
    position: relative;
    right: 0;
  }
  .btm_box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 5px;
    padding: 5px;
  }
  #doodle {
    position: relative;
    margin-left: 160px;
    padding: 5px;
  }
  #contri_btn {
    font-weight: 400;
  }
}
@media (max-width: 480px) {
  .Top_Con {
    height: 7%;
  }
  .crw {
    height: 20px;
  }
  .mainC {
    margin: 5px;
    flex-direction: column;
  }
  .left_box {
    position: relative;
    left: 0;
  }
  .MainBox {
    padding: 20px;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 500px;
  }
  .uDetail {
    text-align: center;
    padding: 2px;
  }
  .Fw {
    margin-top: 10px;
    height: 30px;
  }
  .Pp {
    background-color: rgb(212, 212, 212);
    width: 245px;
    height: 245px;
  }
  .H {
    font-weight: 600;
    letter-spacing: 1px;
  }
  .NoN {
    font-weight: 600;
  }
  .Para {
  }
  #strokes {
    position: relative;
    height: 100px;
    margin: 0;
    top: 0;
  }
  .right_Box {
    right: 0;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
  }
  .startnow {
    padding: 20px;
    top: 15px;
    display: flex;
    position: relative;
    right: 0;
  }
  .btm_box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 15px;
    padding: 5px;
  }
  #doodle {
    position: relative;
    margin-left: 160px;
    padding: 5px;
    height: 150px;
    width: 150px;
  }
  #contri_btn {
    position: absolute;
    font-weight: 200;
    font-size: 1rem;
    width: 250px;
  }
}
